/* shared styles */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400px;
  font-style: normal;
}
.text-red{
 color: #E6533C;
}

.display-flex{
    display: flex;
}
main{
    max-width: 1440px;
    margin: 0 auto;
}

.bg-first{
background-color:#111111 ; 
border-radius: 20px;
}

.brand{
    font-size: 2.2rem;
    font-weight: 800;
    color: #E6533C;
    margin: 10px;
}

.btn-primary{
    font-size: 1.25rem;
    color: aliceblue;
    background-color: #E6533C;
    padding: 16px 40px;
    border: 1px solid #E6533C ;
    border-radius: 42px;
   
}
.full-screen{
    background-color: black;
}

.btn-secondary{
    font-size: 1.25rem;
     color: aliceblue;
       background-color: #111111; 
       border: 1px solid white;
        border-radius: 42px;
        padding: 16px 40px;
}
.text-white{
    color: white
}
.text-gray{
    color: rgba(255, 255, 255, 0.5);
}

section{
    margin-top: 100px;
}

/* navber styles */

.navber, .banner{
    max-width: 1440px;
    margin: 0 auto; 
}

.navber{
    justify-content: space-between;
}
    
.nav-link{
    text-decoration: none;
    color: white;
    
    
}
.nav-items{
    list-style: none;
    margin-left: 20px;
    font-size: 1.25rem;
    font-weight: 500;
}

#nav-btn{
  padding: 5px;
}

.navber-links{
  padding: 15px;
  border: 1px dashed gray;
  border-radius: 40px;
}

/* banner styles */

.banner{
    justify-content: space-between;
}
.banner-title{
font-size: 5rem;
font-weight: 900;
}
.banner-des{
    font-size: 1.25rem;
}


.video-tutorial-badge {
  position: absolute;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  width: fit-content;
  font-family: sans-serif;
  backdrop-filter: blur(8px);
  margin-left: -50px;
  margin-top: -100px;

 
  
}


.dot {
  width: 16px;
  height: 16px;
  background-color: #E74C3C; 
  border-radius: 50%;
  margin-right: 10px;
}

.text strong {
  font-size: 18px;
}

.text span {
  font-size: 14px;
  color: #ccc;
}
.video-tutorial-badge-second{
       position: absolute;
  align-items: center;
  background: rgba(0, 0, 0, 0.6);
  color: white;
  padding: 10px 16px;
  border-radius: 10px;
  width: fit-content;
  font-family: sans-serif;
  backdrop-filter: blur(8px);
  margin-top: -380px;
  margin-left: -100px;
  
}
/* workout styles */

  .workout{
    justify-items: center;
    text-align: center;

  }

.workouts{
  gap:100px ;
}


  .workout-title{
    font-size: 3.5rem;
    font-weight: 800px;
  }
  .workout-img{
    border: 1px solid darkgray;
    border-radius: 50%;
    margin-top: 40px;
    
  }
  .img-title{
       font-size: 1.2rem;
       font-weight: 700;
  }
  /* extra styles */
  .extra{
    gap: 500px;
  }
  .extras-img{
    width: 366px;
    height: 312px;
    padding: 20px;
    border-radius: 30px;
  }
  .extra-title{
    font-size: 3rem;
  font-weight: 800;
}
.extra-conteiner{
    margin: 40px;
}


/* bmi styles */

.title-con{
    justify-items: center;
    
}

.bmi-title{
    font-size: 3rem;
    font-weight: 800;
}

/* table styles */

.container {
  display: flex;
  justify-content: space-around;
  padding: 60px 40px;
  flex-wrap: wrap;
  gap: 400px;
}

.bmi-chart, .bmi-calculator {
  background-color: #2a2a2a;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 4px 12px rgba(0,0,0,0.5);
  width: 320px;
}

h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 10px;
}

table, th, td {
  border: 1px solid #444;
}

th, td {
  padding: 12px;
  text-align: left;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}

input, select {
  padding: 12px;
  border: none;
  border-radius: 6px;
  background-color: #3a3a3a;
  color: #fff;
}

input::placeholder, select {
  color: #bbb;
}







p {
  font-size: 0.9rem;
  color: #bbb;
}

 /* team styles */
         .team-title{
            font-size: 3rem;
            font-weight: 800;
         }

         .teams{
            justify-items: center;
         }
  .team-container {
      display: grid;
      grid-template-columns: repeat(3,1fr);
      gap: 20px;
      padding: 40px;
      
      
    }
    .team-member {
      position: relative;
      overflow: hidden;
      border-radius: 10px;
    }
    
    .team-info {
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      padding: 20px;
     
      text-align: left;
    }
    .team-info h3 {
      margin: 0;
      font-size: 1.25rem;
      font-weight: bold;
    }
    .team-info span {
      font-size: 0.9rem;
      color: #ccc;
    }
.treiner{
    width: 326px;
    height: 272px;
    border-radius: 30px;
}

/* footer styles */
.footer {
  display: flex;
  justify-content: space-between;
  background-color: #111;
  color: #fff;
  padding: 40px;
  margin-top: 30px;
}

.footer-column {
  flex: 1;
  margin: 0 20px;
}

.footer-column h2 {
  color: #e74c3c;
  font-size: 32px;
}

.footer-column h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.footer-column p {
  color: #aaa;
  line-height: 1.6;
}

.footer-column ul {
  list-style: none;
  padding: 0;
}

.footer-column li {
  color: #888;
  margin-bottom: 12px;
  cursor: pointer;
}

.footer-column li:hover {
  color: #fff; }
  .finish{
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
    border: 1px dashed gray;
    text-decoration: dashed;
  }





  /* MEDIA quary for mobile */

  @media screen and (max-width:576px) {
    .navber-links :hover{
      
    }

    .navber{
      flex-direction: column;
      margin: 20px;
    }
  .banner{
    flex-direction: column;
    margin-left: 20px;

  }
  .banner-title{
    font-size: 2rem;
  }
  .video-tutorial-badge{
    margin-left: 200px;
  }
  .btn-primary{
    margin-bottom: 20px;
  }
  /* main header{
    max-width: 100%;
    margin: 0 auto; */

     .workouts{
    display: grid;
    grid-template-columns: 1fr;
  }

.conteiner{
      gap:none;
}

  .extra{
    flex-direction: column;
    gap: 10px;
    
  }
.team-container{
  grid-template-columns: 1fr;
}


.footer{
  flex-direction: column;
}
.finish{
  font-size: 1.2rem;
}
}


  
  
 